<ul class="list-group">
  <div class="container">
    <li class="list-group-item mx-auto border-0" style="width: 600px;">
      <div class="d-flex justify-content-center align-items-center">
        <h4 class="mr-4">Total</h4>
        <h1 class="display-3">$ {{totalamount.amount}}</h1>
      </div>
      <div class="row d-flex justify-content-between">
        <form class="form my-2 my-lg-0" action="/record/create" method="GET">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Create</button>
        </form>
        <form action="/filter" method="GET">
          <select name="filter" class="form-control btn-outline-secondary" id='inputType' onchange="this.form.submit()"
            style="cursor: pointer; text-align: center; text-align-last: center;color: rgb(255, 255, 255);">
            <option value="" disabled selected>Category</option>
            <option value="" {{#if (eq filter '')}} selected {{/if}}>All</option>
            <option value="home" {{#if (eq filter 'home')}} selected {{/if}}>Home</option>
            <option value="transportation" {{#if (eq filter 'transportation')}} selected {{/if}}>Transportation</option>
            <option value="entertainment" {{#if (eq filter 'entertainment')}} selected {{/if}}>Entertainment</option>
            <option value="food" {{#if (eq filter 'food')}} selected {{/if}}>Food</option>
            <option value="other" {{#if (eq filter 'other')}} selected {{/if}}>Other</option>
          </select>
        </form>
      </div>
    </li>
    {{#each record }}
    <li class=" list-group-item mx-auto border-0" style="width: 600px;margin-bottom:-15px">
      <div class="row" style="border-style:outset;border-color:rgb(238, 235, 209)">
        <div class="col-10 ml-1 mr-4 row d-flex justify-content-between align-items-center">
          <div class="col-3"><i class="{{this.categoryIcon}} fa-4x"></i>
          </div>
          <div class="col-9 d-flex justify-content-between align-items-center">
            <h3>
              {{ this.name }}
            </h3>
            <h2>
              ${{ this.amount }}
            </h2>
          </div>
          <br>
          <span>{{this.date}}</span>
        </div>
        <div class="col-1" class="d-flex justify-content-end">
          <a class="btn btn-success mb-2" href="./record/{{ this._id }}/edit" style="width: 50px;"><i
              class="fas fa-edit"></i></a>
          <form action="./record/{{ this._id }}/delete?_method=DELETE" method="POST">
            <button class="btn btn-danger text-center" type="submit" style="width: 50px;"><i
                class="far fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </div>
</ul>